.window{
    
    height: 100%;


    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;

    color: rgb(230, 230, 230);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgb(152, 151, 151);

        display: flex;
        align-items: center;
        gap: 1.5rem;

        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
                height: 15px;
                width: 15px;
                background-color: white;
                cursor: pointer;
                border-radius: 50%;
            }

            .dot:hover{
                transform: scale(1.1);
            }

            .red{
                background-color: #ff5f56;
            }

            .yellow{
                background-color: #ffbd2e;
            }

            .green{
                background-color: #27c93f;
            }


        }

    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgba(168, 168, 168, 0.4);
        border-radius: 4px;
    }

}

