.dock{
    display: flex;

    position: absolute;
    z-index: 100; 
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);

    


    background-color: rgb(63, 63, 63, 0.395);
    padding-inline: 1rem;
    padding-block: 0.25rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(5px);
}

.icon2{
    height: 8vh;
}

.icon{
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.icon:hover{
    transform: scale(1.3) translateY(-25%);
}


.icon:hover + .icon,
.icon:has(+ .icon:hover)
{
    transform: scale(1.1) translateY(-15%);
}

.iconspotify{
    height: 6.5vh;
    margin: 6px 8px;
}

.iconlink{
    height: 6.5vh;
    margin: 6px 8px;
}
