nav{
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    background-color: #9e9e9e4e;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;


    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 20px;
        width: 350px;
        // background-color: aquamarine;


        

        .appleicon{
            height: 2.6vh;
            margin-top: 4px;
        }
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 20px;
        width: 200px;
        // background-color: aquamarine;


        

        .wifiicon{
            height: 2.6vh;
            margin-top: 4px;
        }

        .nav-item{
            padding-bottom: 4px;
        }
    }

}

.terminal{
    cursor: pointer;
}
